<title>ES5 - Javastick</title>
<h1>ES5 example</h1>
<p>The next line should read 'Hello world'</p>
<p data-is="helloWorld">Hello</p>
<script src="../dist/javastick.es5.js"></script>
<script>
  window.javastick({
    helloWorld(el) {
      el.textContent += ' world'
    }
  })
</script>
