<title>ESM - Javastick</title>
<h1>ESM example</h1>
<p>The next line should read 'Hello world'</p>
<p data-is="helloWorld">Hello</p>
<script type="module">
  import {javastick} from '../dist/javastick.esm.js';

  javastick({
    helloWorld(el) {
      el.textContent += ' world'
    }
  })
</script>
